<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- No redirigir las rutas a recursos estáticos (JavaScript, CSS, etc.) -->
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*\.(js|css|png|jpg|gif|svg|eot|ttf|woff|woff2|ico|map)$" />
          <action type="None" />
        </rule>

        <!-- Redirigir todas las demás rutas a index.html -->
        <rule name="Ionic App Rewrite" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuración de la página de inicio -->
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
