ion-header {
    ion-toolbar {
      position: relative;
  
      .header-center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          height: 57px;
          width: auto;
        }
      }
    }
  }
  
  ion-content {
    --background: #f0f0f0; /* Fondo gris claro */
  }